.container{
    width: 100px;
    height: 100px;
    background-color: #496da6;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-top: 1rem;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}

.jw{
    font-size: 2rem;
}